<div class="center hero-unit">
<h1>Sample App</h1>
<h2>
  Esta es una pagina de inicio para la aplicacion de prueba del
  Ruby on Rails Tutorial.
</h2>
<%= link_to "Registrate ahora!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), "http://rubyonrails.org" %>
